.backgroundColorAndContainer{
    position: fixed;
    box-shadow: 0px 5px 16px 1px rgba(0, 0, 0, 0.09);
    right: 0px;
    top: 53px;
    display: flex;
    height: fit-content;
    border-radius: 10px 0px 0px 10px;
    z-index: 999;
}

.background{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    border-radius: 10px 0px 0px 10px;
    height: max-content;
    background-color: #F4F4F4;
}

.header{
    display: flex;
    margin-top: 16px;
    margin-left: 12px;
    gap: 15px;
}

.header > div {
    display: flex;
    gap: 10px;
}

.header > img {
    margin-right: 8px;
}

.title{
    font-weight: 600;
    color: var(--red);
    font-size: 15px;
}

.close{
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: .2s;
    align-self: center;
    justify-self: center;
    padding-bottom: 3px;
}

.close:hover{
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    transition: .2s;
    width: 15px;
    height: 15px;
}

.description{
    color: #666666;
    margin-left: 45px;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 10px;
}
