.reaContainer {
    display: flex;
    margin: 1.5rem 0rem;
    margin-top: 0.5rem;
    align-items: center;
    flex-direction: column;
    gap: 1.625rem;
    width: 98%;
}

@media (max-width: 1350px) {
    .reaContainer {
        max-width: 72.5%;
    }
}

@media (max-width: 850px) {
    .reaContainer {
        max-width: 95%;
    }
}
