.reaContainer {
    display: flex;
    margin: 2.4375rem 0rem;
    flex-direction: column;
    gap: 1.625rem;
}

@media (max-width: 950px) {
    .reaContainer {
        display: flex;
        margin: 2.4375rem 0rem;
        flex-direction: column;
        gap: 1.625rem;
    }    
}
