.container {
    color: black;
    border: 1px solid var(--lightgray);
    border-radius: 10px;
    padding: 24px 37px;
    margin: 2rem;
    max-width: 100%;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titleContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    padding: 1rem;
    user-select: none;
}

.titleContainer:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.reaTitle {
    color: var(--blue);
    width: fit-content;
    text-decoration: none;
    margin: 0;
}

.reaTitleDesk {
    color: var(--blue);
    font-size: 1.2rem;
    margin: 0;
}

.FaqContent {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.FaqContent.open {
    max-height: 1000px; /* Adjust based on your content */
    transition: max-height 0.5s ease-in;
}