.container {
    position: relative;
    max-height: 200px;
    width: 613px;
    display: flex;
    justify-content: space-between;
    border: solid 1px var(--lightgray);
    border-radius: 10px;
    padding: 26px 38px;
    align-items: center;
    overflow-y: scroll;
}

.container > div > h1{
    color: var(--darkblue);
    font-size: 20px;
    line-height: 22px;
}

/* Descomentar as linhas quando fizer a implementação do EditResource */

.container > div > button {
    margin-right: 20px;
    margin-left: 5px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    padding: 6px 24px;
    height: 30px;
    border: none;
    border-radius: 10px;
    /*background-color: rgb(204, 204, 204);*/
    background-color: var(--orange);
    transition: 0.2s;
    cursor: pointer;
}

/*.container > div > button:hover {
    background-color: var(--darkorange);
    transition: 0.2s;
    cursor: pointer;
}*/

.close{
    position: absolute;
    right: 4%;
    top: 44%;
    cursor: pointer;
}

@media (max-width: 600px){
    .container{
        width: 100%;
        padding: 10px 10px;
        padding-left: 20px;
    }
    .container div h1{
        font-size: 16px;
        margin-right: 15px;
    }
    .container > button{
        padding: 6px 8px;
    }
}
