.artContainer{
    width: 550px;
    display: flex;
    margin: auto;
}

.artContainer img{
    min-width: 100%;
    height: max-content;
}

@media (max-width: 850px) {
    .artContainer {
        visibility: hidden;
    }
}