.artContainer{
    max-width: 70%;
    display: flex;
    margin: auto;
    transition: .2s;
}

.artContainer img{
    min-width: 100%;
    height: max-content;
}

@media (max-width: 700px) {
    .artContainer {
        visibility: hidden;
        transition: .2s;
    }
}