.content {
    margin: 0px 10px;
    color: var(--gray);
    line-height: 2rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.container {
    margin: 3rem auto 0px auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 3.1875rem;
}

@media (max-width: 800px){
    .content {
        font-size: 18px;
        margin-right: 50px;
        margin-left: 50px;
    }
}
