.content {
    margin: 0px 10px;
    color: var(--gray);
    line-height: 2rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.container {
    margin: 4rem auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 3.1875rem;
}
