.container{
    margin: 3rem 1rem 0px 1rem;
    display: flex;
    justify-content: center;
    gap: 1.125rem;
    align-items: flex-end;
}

@media (max-width: 850px) {
    .container {
        flex-direction: column;
        align-items: center;    
    }
    .internalContainer{
        width: 200px;
    }    
    .inputSpace::placeholder{
        color: white;
    }
}

.internalContainer{
    max-width: 24rem;
    height: 44px;
    display: flex;
    border: 1px;
    border-color: var(--lightgray);
    border-style: solid;
    border-radius: 10px;
    justify-content: space-between;
}

.inputSpace{
    width: 100%;
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    padding-left: 1.3125rem;
    color: var(--gray);
}

.searchButton{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.3125rem;
}

.blueSpan{
    margin-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--lightblue);
}

.selectorExternalContainer{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.blueSearchButton{
    cursor: pointer;
    padding: 12px 36px 12px 36px;
    border: hidden;
    border-radius: 10px;
    height: 2.75rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--blue);
    font-weight: 700;
    transition: 0.3s;
}

.blueSearchButton:hover{
    background-color: var(--darkblue);
}

/*
Select Menus
(Container, Select, 
*/

.lsCustomSelect{
    width: 12.5rem;
}

.lsSelect{
    width: 100%;
    height: 44px;
    padding: 0.565rem 1rem;
    color: var(--gray);
    font-size: 1.25rem;
    border: 1px;
    border-color: var(--lightgray);
    border-style: solid;
    border-radius: 10px;
}
