.help{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.help img {
    cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 600px) {
    .help {
        position: fixed; /* Keep it fixed */
        bottom: 10px; /* Adjust bottom position */
        right: 10px; /* Adjust right position */
        width: auto; /* Ensure it doesn't take full width */
        text-align: right; /* Align content to the right */
    }
}