.container {
    display: flex;
    height: fit-content;
    gap: 18px;
    align-items: center;
    padding: 10px;
    padding-left: 18px;
    border: 1px solid var(--lightgray);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profilePhotoContainer {
    width: 45px;
}

.profilePhoto {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--lightgray);
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.commentTitle {
    color: var(--lightblue);
    font-weight: 600;
    font-size: 14px;
}

.commentContent {
    font-size: 14px;
    line-height: 22px;
}
