.container {
    display: flex;
    gap: 18px;
    padding: 10px;
    padding-left: 10px;
    border-radius: 10px;
    align-items: center;
}

.profilePhotoContainer {
    width: 45px;
    height: 45px;
}

.profilePhoto {
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--lightgray);
}

.commentTitle{
    color: var(--lightblue);
    font-weight: 700;
}

.commentDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    max-width: 84vw;
    overflow-wrap: break-word;
}

.commentActions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.deleteButton {
    background-color: transparent;
    border: none;
    color: var(--lightblue);
    cursor: pointer;
}

.commentDate {
    font-size: 12px;
    color: var(--gray);
    margin-left: 10px;
}
