.cardContainer{
    border: solid 1px var(--lightgray);
    border-radius: 10px 10px 0px 0px;
    padding: 18px 22px;
    width: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subjectContainer{
    display: flex;
    gap: 21px;
}

.title{
    font-weight: 600;
    min-width: max-content;
    margin-right: 10px;
}

.subject{
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
    border: solid 1px var(--lightblue);
    padding: 5px;
    background-color: var(--lightblue);
    border-radius: 24px;
    margin-bottom: 5px;
}

.cardDescription{
    color: var(--gray);
    line-height: 22px;
    margin-top: 5px; 
}

.pageAnchor{
    color: var(--blue);
    font-weight: 700;
    text-decoration: none;
}

.accessRea {
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--lightgray);
    border-radius: 0px 0px 10px 10px;
    padding: 0px;
    cursor: pointer;
    transition: 0.2s;
}

.accessRea:hover {
    background-color: var(--blue);
    transition: 0.2s;
}

.accessRea:hover a {
    color: white;
    transition: 0.2s;
}

.accessRea:hover img {
    transition: 0.2s;
    filter: invert(98%) 
    sepia(1%) 
    saturate(248%) 
    hue-rotate(10deg) 
    brightness(115%) 
    contrast(100%);
}

.accessRea > a{
    margin-top: 2px;
}

img {
    margin-right: 12px;
    margin-left: 5px;
}
