.container {
    display: flex;
    flex-direction: column;
    color: black;
    border: 1px solid var(--lightgray);
    border-radius: 10px;
    padding: 24px 37px;
    max-width: 58%;
    margin: 5rem 6rem;
}

.thumbAuxContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.thumbAuxContainer > img {
    width: fit-content;
}

.previewContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: fit-content;
    max-height: fit-content;
}

.reaTitle {
    color: var(--blue);
    font-size: 1.25rem;
    cursor: pointer;
    width: fit-content;
}

.likesCount {
    font-weight: 600;
    color: var(--green);
    font-size: 14px;
    margin-top: 0.625rem;
    margin-left: 0.3rem; 
}

.buttonContainer{
    align-items: center;
    display: flex;
    gap: 0.4375rem;
}

.socialButton{
    color: var(--darkgray);
    display: flex;
    align-items: center;
    background: none;
    box-sizing: border-box;
    border-radius: 24px;
    border: 1px solid var(--lightgray);
    padding: 5px 10px;
}

.bugReport{
    text-decoration: none;
    color: var(--lightgray);
}

.socialButton:hover{
    transition: 0.2s;
    background: var(--lightgray);
    cursor: pointer;
}

.socialButton:active{
    background: var(--blue);
    transition: 0.2s;
    color: white;
}

.socialButton:active > img{
    transition: 0.1s;

    /* Filtro usado pra fazer a imagem ficar branca onClick */
    filter: invert(98%) 
    sepia(1%) 
    saturate(248%) 
    hue-rotate(10deg) 
    brightness(115%) 
    contrast(100%);
}

.metaData {
    line-height: 35px;
    color: var(--gray);
    font-size: 14px;
    list-style-type: none;
    margin-top: 1.5rem; 
}

.metaData > li > strong {
    color: black;
}