.externalContainer{
    flex: 2;
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border: solid 1px var(--lightgray);
    padding: 19px 25px;
    border-radius: 10px;
    gap: 24px;
}

.suggLabel{
    color: var(--gray);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: -5px;
}

.moreRecomendations{
    white-space: nowrap;
    font-size: 20px;
    color: var(--blue);
    font-weight: 700;
    padding: 10px 40px;
    border: solid 1px var(--blue);
    border-radius: 10px;
    background-color: white;
    transition: 0.2s;
}

.moreRecomendations:hover{
    background-color: var(--blue);
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
