.wrapper {
    margin: auto;
    max-width: 70rem;
    display: flex;
    justify-content: center;
}

.help{
    position: fixed;
    bottom: 0px;
    right: 0px;
}

@media (max-width: 768px){

    html {
        font-size: 87.5%;
    }

    .wrapper{
        grid-template-columns: 1fr;
    }
}
