.mainPageContainer{
    height: 100%;
}

.reaViewContainer{
    display: flex;
    padding: 4rem 5rem;
    justify-content: space-between;
    gap: 35px;
}

@media (max-width: 1000px){

    .reaViewContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
}
